repos:
  - repo: https://github.com/terraform-docs/terraform-docs
    rev: v0.16.0
    hooks:
      - id: terraform-docs-go
        args: ["markdown", "table", "--output-file", "README.md", "./"]
      - id: terraform-docs-go
        args: ["markdown", "table", "--output-file", "README.md", "./modules/vcn"]

  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.22
    hooks:
      - id: terraform-fmt
      - id: tflint
      - id: terraform-validate

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: 2.3.314
    hooks:
      - id: checkov