default_language_version:
  golang: "1.24.6"
repos:
  - repo: https://github.com/terraform-docs/terraform-docs
    rev: v0.21.0
    hooks:
      - id: terraform-docs-go
        args: ["markdown", "table", "--output-file", "README.md", "./"]

  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.30
    hooks:
      - id: terraform-fmt
      - id: tflint
      - id: terraform-validate

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: 3.2.499
    hooks:
      - id: checkov