name: Deploy Tags
run-name: "Deploy ${{ github.ref }}"
on:
  push:
    tags:
      - "v**"
permissions:
  contents: read
jobs:
  deploy:
    uses: batinicaz/gha/.github/workflows/terraform-apply.yml@v1.2.10
    permissions:
      contents: read
      id-token: write
    with:
      working_directory: "."
    secrets:
      INFISICAL_IDENTITY_ID: ${{ vars.INFISICAL_IDENTITY_ID }}
